.faq_item {
    width: 771px;
    height: fit-content;
    padding: 34px 40px;
    border: 2px solid var(--grey-15);
    border-radius: 12px; 
}

.faq_item_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_item_question {
    max-width: 621px;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: var(--grey-15);
}

.faq_item_action {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--grey-15);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq_item_answer {
    width: 621px;
    margin-top: 24px;
    padding-top: 24px;
    border-top: 2px solid var(--grey-15);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--grey-20);
}

.d_n {
    display: none;
}